* {
    box-sizing: border-box;
}

body,h1,h2,h3,h4 {
    font-family: sans-serif;
    margin: 0;
}
header {
    background-color: #86c4ff;
    padding: 40px;
}

header nav {
}

header nav a {
}

section.section-element {
    margin: 0;
    padding: flex;
}

section.box-model-section {
    background-color: #9EF490;
}

.interior {
    border: 10px solid black;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
    width: 100%;
}    

.interior h1 {
    color: black;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
}

.interior h2 {
    color: black;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
}

.interior p {
    color: black;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
}

.box-model-interior {
    background-color: ;
    border: ;
}
