* {
    box-sizing: border-box;
}

body,h1,h2,h3,h4 {
    font-family: sans-serif;
    margin: 0;
}
header {
    background-color: #86c4ff;
    padding: 40px;
}

header nav {
}

header nav a {
}

section.section-element {
    margin: 0;
    padding: 40px;
}

section.box-model-section {
    background-color: #CFF1CA;
}

.box-model-interior {
    background-color: #9EF490;
    border: 10px solid #187908;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
    width: 100%;
}    

.box-model-interior h1 {
    color: black;
    font-size: 50px;
    font-weight: 700;
}

.box-model-interior h2 {
    color: black;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
}

.box-model-interior p {
    color: black;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.5;
}

.heading-section-interior {
    background-color: #F1CAF0;
    padding: 40px;
}

.heading-section-interior h1 {
    color: #6C0468;
    font-size: 64px;
}

.heading-section-interior h2 {
    color: #6C0468;
    font-size: 40px;
}

.heading-section-interior h3 {
    color: #6C0468;
    font-size: 64px;
}

.heading-section-interior p {
    color: #3A0F39;
    font-size: 20px;
}

.heading-section-interior h4 {
    color: #6C0468;
    font-size: 36px;
}


